{{- if .Values.postgres.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: hcm-postgres
  namespace: {{ .Values.namespace }}
spec:
  ports:
    - port: 5432
      targetPort: 5432
  selector:
    app: hcm-postgres
{{- end }}
